/*Selector Combinations
선택자 결합
하위(스페이싱 사용), 자식, 형제 선택자,그룹화
*/

ul li:last-of-type {
    color:pink;
}

#list > li:last-of-type {
    color:red;
}
/* 바로 아래 자식만*/

#list li:last-of-type {
    color:green;
}
/*list 아래 있는 자식들 모두*/